.container{
    background-color: rgb(243, 243, 243);
    min-height: 100vh;
    box-shadow: 0px 5px 10px  gray;
}
li {
    list-style: none;
}
li img{
    width: 200px;
}
ul:hover li:not(:hover) img{
    -webkit-filter: grayscale(1) blur(5px);
 }
